
@font-face {
    font-family: "Josefin Sans";
    src: url('/Resources/fonts/Josefin_Sans/static/JosefinSans-ThinItalic.ttf') format('truetype');
    font-style:italic;
    font-weight: normal;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('/Resources/fonts/Josefin_Sans/static/JosefinSans-LightItalic.ttf') format('truetype');
    font-style:italic;
    font-weight:lighter;
}

@font-face {
    font-family: "Josefin Sans";
    src: url('/Resources/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf') format('truetype');
    font-style:normal;
    font-weight: bold;
}
@font-face {
    font-family: "Josefin Sans";
    src: url('/Resources/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Josefin Sans Italic";
    src: url('/Resources/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "Jomolhari";
    src: url('/Resources/fonts/Jomolhari/Jomolhari/Jomolhari-Regular.ttf') format('truetype');
}   

@font-face {
    font-family: "Script";
    src: url('/Resources/fonts/Dancing_Script/static/DancingScript-SemiBold.ttf') format('truetype');
    font-style:normal;
    font-weight: normal;
}

@font-face {
    font-family: "Playfair";
    src: url('/Resources/fonts/Playfair/Playfair-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: "Playfair Italic";
    src: url('/Resources/fonts/Playfair/Playfair-Italic-VariableFont_opsz\,wdth\,wght.ttf') format('truetype');
}

html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transform: scale(0.7);
    transform-origin: top;
    border: 1px solid black;
    width: 1920px;
    background-color: #FFF3D3;
}

.heading {
    margin-bottom: 2rem;
    text-align: center;
}
.heading .italic h1 {
    font-family: "script";
    font-size: 5rem;
    color: #b6220f;
    position: relative;
    top: 2rem;
}
.heading .normal h1 {
    font-family: "Playfair";
    font-size: 8rem;
    font-weight: lighter;
    color:black;
    letter-spacing: 0.8rem;
}


/* !Banner section */

.banner-section {
    background-image: url('../images/pexels-pedrofurtadoo-28902908.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 67.75rem;
    position: relative;
}

.nav-bar ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    position: absolute;
    padding-top: 4.3rem;
    padding-right: 8.75rem;
}

.nav-bar ul li {
    margin-left: 7rem;
}

.nav-bar ul li a {
    font-size: 2rem;
    font-family: Josefin Sans;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.nav-bar ul li a:hover {
    color: #b6220f;
}

#title-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 8.75rem;
    margin-top: 10rem;
}

#title-section .image-container {
    display: block;
    width: 6.125rem;
    height: 6.125rem;
}

#title-section .image-container img {
    max-width: 100%;
    height: auto;
}

.title {
    width: 26.3125rem;
    height:auto;
}

.title h1 {
    font-family: "Jomolhari";
    font-weight: 100;
    line-height: 170%;
    font-size: 7.5rem;
    color: #FFF3D3;
}

#reserve-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6220f;
    width: 17.5rem;
    height: 4.25rem;
    border-radius: 5rem;
}

#reserve-button a {
    font-family: 'Josefin Sans';
    font-size: 2.25rem ;
    color: #FFF3D3;
    text-decoration: none;
}

#reserve-button:hover {
    background-color: #e22b12;
}

.banner-bottom {
    display: block;
    width: 100%;
    height: 1.9375rem;
    background-color: #b6220f;
}


@media only screen and (max-width: 768px) {
    .banner-section {
        height: 32.125rem;
        width: 48rem;
    }
    .nav-bar ul {
        width: 100%;
        padding-top: 1.56rem;
        padding-right: 3.375rem;
    }
    
    .nav-bar ul li {
        margin-left: 2.5rem;
    }   
    .nav-bar ul li a {
        font-size: 0.8rem;
    }
    #title-section {
        margin-left: 3.37rem;
        margin-top: 4.68rem;
    }
    #title-section .image-container {
        width: 2.875rem;
        height: 2.875rem;
    }
    #title-section .image-container img {
        max-width: 100%;
    }
    .title {
        width: 12rem;
    }
    .title h1 {
        font-size: 3.43rem;
    }
    #reserve-button {
        width: 10rem;
        height: 2.5rem;
    }

    #reserve-button a {
        font-size: 1.25rem ;
    }
    .banner-bottom {
        display: block;
        width: 48rem;
        height: 1.25rem;
        background-color: #b6220f;
    }
}
/* !Welcome section */

#welcome-section {
    width: 100%;
    position: relative;
    border: 1px solid black;
}

#welcome-section .content {
    width: 28.5rem;
    height: 17.43rem;
    position: absolute;
    right: 21.43rem;
    left: 69.875rem;
    top: 22.875rem;
}

#welcome-section .content h2 {
    font-family: "script";
    font-size: 9rem;
    color: #b6220f;
}

#welcome-section .content h4 {
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: lighter;
    font-size: 2.5rem;
    line-height: 3.5rem;
    
}
#welcome-section .images-container{
    padding-top: 16.43rem;
    border: 1px solid black;
} 

#welcome-section .image-container-01 {
    width: 43.25rem;
    height: 67.75rem;
    left: 18.18rem;
    position: relative;
}
#welcome-section .image-container-01 img {
    width: 100%;
    height: auto;
}

#welcome-section .image-container-02 {
    width: 37.4rem;
    height: 42.25rem;
    left: 57.68rem;
    z-index: 2;
    position: relative;
    bottom: 16.43rem;
}

#welcome-section .image-container-02 img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    #welcome-section {
        width: 768px;
        position: relative;
        border: 1px solid black;
    }
    #welcome-section .content {
        width: 30rem;
        height: auto;
        position: static;
        padding-top: 10.5rem;
        padding-bottom: 10.5rem;
        text-align: center;
        margin-left: 9rem;
        /*border: 1px solid black; */
    }
    #welcome-section .content h2 {
        font-family: "script";
        font-size: 8rem;
        color: #b6220f;
    }
    #welcome-section .content h4 {
        font-family: "Josefin Sans";
        font-style: italic;
        font-weight: lighter;
        font-size: 1.8rem;
        line-height: 3.5rem;
        padding: 0 4rem;
    }   
    #welcome-section .images-container{
        padding-top: 0;
    }   
    
    #welcome-section .image-container-01 {
        width: 25rem;
        height: auto;
        margin-left: 3.3rem;
        position: static;
    }
    #welcome-section .image-container-02 {
        width: 18.25rem;
        height: 24.25rem;
        bottom: 10rem;
        z-index: 2;
        position: relative;
        left: 26.25rem;
        bottom: 10.5rem;
    }
}
/* ! Menu section */

.panels-container {
    padding-bottom: 15.18rem;
}


.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;
}
.panel .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-top: 1rem;

}

.panel .content h1, .button-box h3 {
    font-family: "Josefin Sans";
    font-weight: bold;
    color:  #FFF3D3;
    letter-spacing: 0.2rem;
}

.panel .content h1 {
    font-size: 4rem;
}

.button-box h3{
    font-size: 1.25rem;  
    padding: 1rem ;
}

.button-box {
    border: 0.31rem solid #FFF3D3;
    width: 13.25rem;
    height: 3.5rem;
    margin-top: 1rem;
    text-align: center;
}

.button-box :hover {
    background-color: #FFF3D3;
    color: black;
}

a {
    text-decoration: none;
}

/* ! Specialties section */

#specialties-section {
    margin-bottom: 16.43rem;
}

#specialties-section .panel{
    position: relative;
    width: 101rem;
    height:48rem;
    overflow: hidden;
    margin: 0 9.375rem;
}

#specialties-section .image-container img {
    width: 100%;
    height: auto;
    display: block;
}

 .nav-icons {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 3.125rem;
}

.nav-icons .arrows {
    display: flex;
    justify-content: space-between;
    padding: 17rem 4.375rem;
}

#left, #right {
   opacity: 50%;
}

#left:hover, #right:hover {
    filter:saturate(500%);
    opacity: 100%;
}

.circles {
    display: flex;
    justify-content: center;
}

/* ! Opening section */
#opening-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 9.375rem;
    margin-bottom: 16.43rem;
}

.content-container .heading, .content-container .content{
    text-align: right;
}
.content-container .heading {
    margin-bottom: 1rem;
}

.content-container {
    margin-right: 5.3rem;
    margin-top: 32rem;
}

#dates {
    font-family: "Josefin Sans";
    font-style: italic;
    font-weight: bolder;
    font-size: 2.5rem ;
    letter-spacing: 0.4rem;
    line-height: 4rem;
}

#time {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem ;
    letter-spacing: 0.4rem;
    line-height: 4rem;
}

/* ! slogan section */
#slogan-section {
    margin-bottom: 16.43rem;
}

#slogan-section .image-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#slogan-section .image-container p {
    position: absolute;
    font-family: "Playfair Italic";
    font-size: 4rem;
    color: #FFF3D3;
    letter-spacing: 0.4rem;
    padding-bottom: 4.4rem;
}

/* ! Reservation section */

#reservation-section{
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes-container{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-container .label p {
    font-family: "Playfair";
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
}

.box-container .box-content {
    width: 23.1rem;
    height: 4rem;
    border: 0.25rem solid black;
    
}

.box-container .box-content img {
    width: 1.25rem;
    position: relative;
    left: 19rem;
    bottom: 1.75rem;
    filter: opacity(50%);
}

.box-container .box-content img:hover{
    filter: opacity(100%);
}

.box-container .box-content p {
    font-family: "Playfair";
    font-size: 2.25rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    text-align: center;
    padding-top: 0.6rem;
}

#reservation-section .button {
    background-color: #b6220f;
    width: 11rem;
    height: 4rem;
    margin-top: 2.5rem;
}

#reservation-section .button:hover {
    background-color: #e22b12;
}

#reservation-section .button p {
    font-family: "Josefin Sans";
    font-size: 2rem;
    color: #FFF3D3;
    text-align: center;
    padding: 1.3rem 0;
}

/* ! Footer section */
footer {
    width: 100%;
    height: 13rem;
    background-color: #b6220f;
}
footer .content-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2rem;
    
}
footer .group {
    width: 16rem;
    height: auto ;
    padding: 1.5rem 0;
}

footer .first{
    position: relative;
    left: 8.75rem;
}
footer .fourth{
    position: relative;
    right: 8.75rem;
    text-align: center;
}
footer h1 {
    font-family: "josefin Sans";
    font-weight: bold;
    color: #FFF3D3;
    letter-spacing: 0.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 2.25rem;
}
footer p {
    font-family: "josefin Sans";
    font-weight: 300;
    font-size: 1.25rem;
    color: #FFF3D3;
    letter-spacing: 0.1rem;
    line-height: 125%;
    text-align: center;
}
footer .image-container {
    width: 5.625rem;
    height: 5.625rem;
    overflow: hidden;
    position: absolute;
    top: 3rem;
    left: 49%;
}
footer .image-container img {
    width: 80%;
    height: auto;
}